<div class="header-container">
    <div class="logo-container">
        Task Assigner
    </div>
    
        <div class="header-items">
            <div><a routerLink="mygroups" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}"> Groups</a></div>
            <div><a routerLink="mytasks" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Tasks</a></div>
            <div><a routerLink="myinvitations" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Invitations</a></div>
        </div>
        
        <div class="profile-container">
            <div>
                <a routerLink="#">profile</a>
            </div>
            
        </div>  
</div>
