/* You can add global styles to this file, and also import other style files */
*{
    margin:0px;
    padding: 0px;
}

.active{
   
    font-weight: bold;
    text-decoration: solid;
    color:black
}
/* primary color: #23395b
sec_color: #CADAEC*/